a {
  color: #ffffff;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;

  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 30px;
}

h1 {
  color: #ffffff;
}

.container {
  width: 1200px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

.new-catalog {
  display: flex;
}

ul {
  list-style: none;
}

.header {
  min-height: 450px;

  background-color: #D69021;
  background-image: url(../img/header-rye.jpg);
  background-repeat: no-repeat;
}

.header-logo {
  padding-top: 55px;
  padding-left: 200px;
}

.order {
  background-color: #FFCB78;
}

.nav {
  display: flex;
}

.nav-list {
  display: flex;

  width: 600px;
}

.nav li {
  font-weight: bold;
  text-transform: uppercase;

  margin: 0 20px;
}

.button {
  display: inline-block;

  font: inherit;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  text-transform: uppercase;
/*  font-weight: 700;
  font-size: 16px;
  line-height: 30px; */

  padding: 0;
  margin: 0;
}

.bnt-white {
  background-color: white;
  color: brown;
}

.bnt-brown {
  background-color: brown;
  color: white;
}

footer {
  color: #ffffff;

  background-color: #000000;
}

.footer-top {
  display: flex;
}

.social ul {
  display: flex;
 }

.social a {
  color: #000000;
}
