a {
  color: #ffffff;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;

  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 30px;
}

h1 {
  color: #ffffff;
}

h2, h3, .table-name {
  text-transform: uppercase;
}

.container {
  width: 1200px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

.new-catalog {
  display: flex;
}

ul {
  list-style: none;
}

.header {
  min-height: 450px;

  box-sizing: border-box;

  background-color: #D69021;
  background-image: url(../img/header-rye.jpg);
  background-repeat: no-repeat;
}

.header-logo {
  padding: 55px 50px 0 200px;
}

.order {
  background-color: #FFCB78;
}

.nav {
  display: flex;
}

.nav-list {
  display: flex;
  position: relative;
 
  margin: 50px 0 0 0;
  padding: 15px 0 0 0;
}

.nav-list::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 500px;
  height: 1px;
  background-color: rgba(250,250,250,0.3);
}

.nav-list::after {
  content: "";
  position: absolute;
  bottom: 15px;
  left: 0;

  width: 500px;
  height: 1px;
  background-color: rgba(250,250,250,0.3);
}

.nav li {
  font-weight: bold;
  text-transform: uppercase;

  margin: 0 20px 0 0;
}

.caption-1 {
  font-size: 26px;
}

.catalog-item {
  position: relative;

  width: 355px;
}

.catalog-item h3 {
  font-size: 26px;
}

.catalog-item span {
  font-weight: bold;

  padding-left: 25px;
}

.catalog-item-top {
  display: flex;
}

.catalog-table {
  position: absolute;
  top: 0px;
  right: 0px;
}

.catalog-table td {
  padding: 10px;
  width: 90px;

  font-weight: bold;
}

.catalog-table .cell-bot {
  font-weight: normal;
}

/*    Button    */

.button {
  display: inline-block;

  text-align: center;
  vertical-align: middle;

  font: inherit;
  font-weight: bold;

  text-transform: uppercase;

  padding: 10px 18px;
  margin: 0;
}

.btn-white {
  background-color: white;
  color: #6B4B1C;
  border-color: #654E2F;
}

.btn-brown {
  background-color: #834700;
  color: white;
}

/*    Description    */

.description {
  min-width: 1200px;
  margin-bottom: 50px;

  background-color: #FFCB78;
}

.description ul {
  display: flex;
}

.description li {
  width: 213px;
  padding: 50px;
}

/*    History    */

.history {
  padding: 0 100px;
}

.history h2 {
  font-size: 30px;
}

/*    Press    */

.press {
  position: relative;

  padding: 40px 100px;

  background-color: #EDE5D8;
}

.press p {
  width: 690px;
}

.btn-read {
  padding: 5px 10px;

  color: #A79E95;

  border-color: #A79E95;
  background-color: #EDE5D8;
}

.press::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 115px;

  width: 43px;
  height: 33px;
  background-image: url(../img/quotes.jpg);
}

.paper {
  position: absolute;
  right: 20px;
  bottom: 30px;

  font-weight: bold;
}

/*    Assortment    */

.assortment {
  padding: 40px 100px;
}

.assortment table {
  border-collapse: collapse;
}

th {
  padding: 15px;

  color: #B2B2B2;
  font-weight: normal;
  font-size: 14px;

  border-bottom: 1px solid lightgray;
}

.table-price {
  width: 25%;

  text-align: right;
}

td {
  padding: 15px;

  text-align: left;

  border-bottom: 1px solid lightgray;
}

.table-name {
  width: 50%;

  text-align: left;
}

td.table-name {
  font-weight: bold;
}

/* "Новинка" */

.assortment span {
  margin-left: 20px;
  padding: 3px 6px;

  color: white;
  font-size: 11px;

  background-color: black;
  border-radius: 5px;
}

/*    Order    */

.order {
  padding: 40px 100px;
}

.order > p {
  width: 640px;
}

.order input {
  padding: 10px;

  background-color: #E5B56B;
  border: none;
}

.order label {
  width: 25%;
}


/*    Footer    */

footer {
  color: #ffffff;

  background-color: #000000;
}

.footer-top {
  display: flex;
}

.social ul {
  display: flex;
 }

.social a {
  color: #000000;
}
