a {
  color: #ffffff;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;

  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 30px;
}

h1 {
  color: #ffffff;
}

h2, h3 {
  text-transform: uppercase;
}

.container {
  width: 1200px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

.new-catalog {
  display: flex;
}

ul {
  list-style: none;
}

.header {
  min-height: 450px;

  background-color: #D69021;
  background-image: url(../img/header-rye.jpg);
  background-repeat: no-repeat;
}

.header-logo {
  padding-top: 55px;
  padding-left: 200px;
}

.order {
  background-color: #FFCB78;
}

.nav {
  display: flex;
}

.nav-list {
  display: flex;

  width: 600px;
}

.nav li {
  font-weight: bold;
  text-transform: uppercase;

  margin: 0 20px;
}

.caption-1 {
  font-size: 26px;
}

.catalog-item {
  min-width: 350px;
}

.catalog-item h3 {
  font-size: 26px;
}

.catalog-item span {
  font-weight: bold;

  padding-left: 25px;
}

/*    Button    */

.button {
  display: inline-block;

  text-align: center;
  vertical-align: middle;

  font: inherit;
  font-weight: bold;

  text-transform: uppercase;

  padding: 10px 18px;
  margin: 0;
}

.btn-white {
  background-color: white;
  color: #6B4B1C;
  border-color: #654E2F;
}

.btn-brown {
  background-color: #834700;
  color: white;
}

/*    Description    */

.description {
  min-width: 1200px;
  margin-bottom: 50px;

  background-color: #FFCB78;
}

.description ul {
  display: flex;
}

.description li {
  width: 213px;
  padding: 50px;
}

/*    History    */

.history {
  padding: 0 100px;
}

.history h2 {
  font-size: 30px;
  text-transform: uppercase;
}

.history h3 {
  text-transform: uppercase;
}

/*    Press    */

.press {
  position: relative;

  padding: 40px 100px;

  background-color: #EDE5D8;
}

.press p {
  width: 690px;
}

.btn-read {
  padding: 5px 10px;

  color: #A79E95;

  border-color: #A79E95;
  background-color: #EDE5D8;
}

.press::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 115px;

  width: 43px;
  height: 33px;
  background-image: url(../img/quotes.jpg);
}

.paper {
  position: absolute;
  right: 20px;
  bottom: 30px;

  font-weight: bold;
}

/*    Assortment    */




/*    Footer    */

footer {
  color: #ffffff;

  background-color: #000000;
}

.footer-top {
  display: flex;
}

.social ul {
  display: flex;
 }

.social a {
  color: #000000;
}
